.loading {
    width: max-content;
    margin: 0 auto;
}

.circle {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 10px solid var(--text-color);
}

.text {
    color: var(--text-color);
    font-size: 30px;
    letter-spacing: 10px;
}